@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: $fontJura, sans-serif;
  background-color: $bgMain;
}

img[alt="screenshot"] {
  max-height: 350px;
  max-width: 100%;
  margin: auto;
}

.flex {
  display: flex;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: $fontMain, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

@media (orientation: landscape) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--color-gray-100);
  }
}

@media (orientation: landscape) {
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #515e8d;
  }
}

@media (orientation: landscape) {
  ::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
  }
}

.link-item-button {
  padding: 10px 25px 10px 25px;
  color: #fff;
  border-radius: 5px;
  background: $darkerPurple;
  font-family: $fontNunito;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h2,
h3,
h4 {
  font-size: $large;

  @media (max-width: 768px) {
    font-size: $medium;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

//blog
.blog {
  color: $primaryBlue;
  h2 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    span {
      font-size: 14px;
      background: $primaryWhite;
      border: 1px solid $primaryBlue;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
    }
  }

  li {
    max-width: 768px;
    margin: 0rem auto;
    span,
    .show-post {
      color: $darkerPurple;
    }
    .title {
      font-size: $medium;
      font-weight: 700;
      line-height: 1.2;
    }

    .show-post {
      display: inline-block;
      margin-top: 0.7rem;
    }
  }
}

//career
.career {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  content-visibility: auto;
  margin-top: 5rem;

  .employer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $darkGray;
    margin-top: 0.5rem;
    h4 {
      margin: 0;
      color: $darkGray;
      font-size: 1rem;
    }
  }

  .career-list {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    .circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      min-height: 28px;
      border-radius: 50%;
      border: 1px solid $primaryGold;

      .circle-inner {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $primaryGold;
      }
    }

    li {
      display: flex;
      gap: 1rem;
      h3 {
        margin-top: 0;
        font-size: 1.2rem;
        color: $primaryBlue;
      }

      h3,
      p {
        margin: 0;
      }

      .title {
        display: flex;
        align-items: center;
        gap: 1rem;

        small {
          color: $darkGray;
        }

        h3,
        p {
          margin: 0;
        }
      }

      .circle-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .dotted-line {
        width: 1px;
        border-left: 1px dashed $gray;
        height: 100%;
        align-self: center;
      }
    }

    li:not(last-child) {
      .employer {
        padding-bottom: 2rem;
      }
    }
  }

  h2 {
    font-family: $fontJura;
    font-size: 2rem;
    color: $primaryBlue;
    margin: 0;
  }

  a {
    margin-top: 3rem;
    text-decoration: underline;
    color: $primaryBlue;

    @media (max-width: 820px) {
      margin-top: 30px;
    }

    svg {
      margin-right: 10px;
    }
  }
}

footer {
  padding-top: 5rem;
  content-visibility: auto;

  .footer-section-top {
    display: flex;
    margin-bottom: $large;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 0.5px solid $gray;
    flex-wrap: wrap;

    @media (max-width: 440px) {
      flex-direction: column;
    }

    .brand-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        color: $primaryBlue;
      }

      .subscribe-form {
        display: flex;

        width: 100%;
        gap: 0.5rem;
        .inputContainer {
          flex: 4;
        }
      }
    }

    .footer-links-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 0.5rem;

      @media (max-width: 625px) {
        margin-top: 2rem;
      }

      h5 {
        margin: 0;
        color: $primaryBlue;
        font-size: 1.2rem;
      }

      a {
        text-decoration: none;
        color: $primaryBlue;
      }

      .socials {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.5rem;
      }

      .email {
        color: $primaryBrown;
      }
      .footer-links {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        gap: 1rem;
      }
    }
  }
}

//projects page
.main-container {
  content-visibility: auto;

  .filter-posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    input {
      max-width: 350px;
      margin-top: 1.5rem;
    }
    .category-buttons {
      display: flex;
      gap: 1rem;
      margin-top: 1.5rem;
      flex-wrap: wrap;

      button {
        min-width: fit-content;
      }

      button.selected {
        opacity: 1;
      }
    }
  }
  h1 {
    color: #aaa9a9;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: $large;
    text-align: center;
    font-family: $fontJura;
    span {
      color: rgb(89, 89, 89);
    }
  }

  h2 {
    font-size: $small;
    font-family: $fontNunito;
    text-align: center;
    color: #aaa9a9;
  }

  h3 {
    color: $darkerPurple;
    font-family: $fontPrimary;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .articles {
    padding: 50px 60px 100px 60px;
    margin: 0 auto;

    @media (max-width: $breakpoint-tablet) {
      h1 {
        text-align: center;
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .cards_item {
      display: flex;
      padding: 1rem;
      flex-direction: column;
      align-items: center;

      @media (max-width: $breakpoint-tablet) {
        padding: 0;
        margin-bottom: 40px;
      }

      &:hover {
        .card {
          transform: scale(1.04);
        }

        .article-caption {
          transform: scale(1.04);
        }
      }
    }

    @media (min-width: 40rem) {
      .cards_item {
        width: 50%;
      }
    }

    @media (min-width: 56rem) {
      .cards_item {
        width: 33.33%;
      }
    }

    .card {
      transition: all 1s ease-out;
      // background-color: $primaryWhite;
      z-index: 1;
    }

    .content-image {
      max-width: 100%;
      border-radius: 5px;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    }

    .article-caption {
      transition: all 1s ease-in-out;
      padding: 0.5rem 1.5rem;
      background-color: $veryLightGray;
      width: 105%;
      margin-top: -5%;
      z-index: 0;
      border-radius: 5px;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

      .project-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      a {
        color: $gray;
        font-size: 1rem;
        font-family: $fontPrimary;
      }

      p {
        color: $gray;
        font-family: $fontNunito;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    .articles {
      padding: 30px 30px;
    }
  }
}

.shareArticle {
  font-family: $fontJura;
  max-width: 730px;
  align-items: center;
  margin: auto;
  display: flex;
  color: $primaryBrown;
  margin-bottom: 5rem;
}

.hr-div {
  display: flex;
  flex: 5;
  font-size: 1rem;
}

.share_article_hr {
  border-top: 1px solid $primaryBrown;
  width: 80%;
  margin-top: 12px;
  margin-right: 10px;
}

.shareArticle a {
  color: #4433ff;
  font-weight: 600;
  text-decoration: none;
}
