//nav bar styling

$primaryPurplelight: hsl(262, 47%, 55%);
$darkerPurple: hsl(262, 52%, 47%);
$gray: #828282;

$small: 1rem;
$medium: 2rem;
$large: 3rem;

$fontPrimary: "Girlroybold";
$fontNunito: "Nunito";

@font-face {
  font-display: swap;
  font-family: "Girlroybold";
  src: url("CustomFont.eot");
  src: url("/assets/images/fonts/gilroy-bold-webfont.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  src: url("CustomFont.eot");
  src: url("/assets/images/fonts/nunitosans-regular-webfont.woff")
    format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  transition: all 2s;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.link-item-button {
  padding: 10px 25px 10px 25px;
  color: #fff;
  border-radius: 5px;
  background: $darkerPurple;
  font-family: $fontNunito;
}

li {
  list-style: none;
}

.brand {
  display: flex;
  font-size: 2rem;
  color: $primaryPurplelight;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: "Girlroybold";

  span {
    margin-top: -10px;
    font-size: 1rem;
  }
}

h2,
h3,
h4 {
  font-size: $large;

  @media (max-width: 768px) {
    font-size: $medium;
  }
}

nav {
  display: flex;
  padding: 1rem 5rem 1rem 5rem;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1032px) {
    padding: 1rem 2rem 2rem 2rem;
  }

  #hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito";
    // padding-left: 0;
    flex-wrap: wrap;

    li {
      margin-right: 20px;
    }

    .link-item {
      a {
        color: $gray;
      }
    }
  }

  @media (max-width: 690px) {
    .nav-links {
      position: absolute;
      flex-direction: column;
      background: #d5c2ec;
      padding: 2.5rem;
      padding-left: 2rem;
      justify-content: flex-end;
      align-content: flex-end;
      right: 2rem;
      transform: translateY(-200%);
      top: $large;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      transition: cubic-bezier(1, 0, 0, 1) 1.2s;
      border-radius: 10px;
      z-index: 2000;

      .link-item {
        margin-bottom: 1rem;
        margin-right: 0;

        &:nth-last-child() a {
          color: $darkerPurple;
        }
      }

      .link-item- {
        margin-right: 0;
      }

      .link-item-button {
        display: block;
        margin-top: 0.6rem;
      }
    }

    .nav-active {
      transform: translateY(0%);
    }

    #hamburger {
      display: flex;
      position: absolute;
      right: 2rem;

      #hamburgerImage {
        filter: drop-shadow(0 20px 40px -14px rgba(0, 0, 0, 0.25));
      }
    }
  }
}

main {
  //hero section style
  .hero-section {
    display: flex;
    padding: 0rem 5rem 2rem 5rem;

    @media (max-width: 1032px) {
      padding: 0rem 2rem 2rem 2rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .hero-copy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Girlroybold";

      h1 {
        font-size: $small;
        color: $gray;
        margin-bottom: 0;
        opacity: 0;
        animation: HeroH1Animation;
        animation-duration: 2s;
        animation-fill-mode: forwards;
      }

      h2 {
        margin-top: 0;
        color: $primaryPurplelight;
        opacity: 0;
        animation: HeroH2Animation;
        animation-duration: 3s;
        animation-fill-mode: forwards;
      }

      .social-icons-top {
        display: flex;

        img {
          margin-right: 20px;
        }
      }
    }

    .hero-images {
      flex: 3;
      justify-content: flex-end;
      padding-top: $large;

      img {
        float: right;
        max-width: 100%;
      }

      .second-image-container {
        position: relative;
        min-width: 300px;
        height: 100%;
        left: -3rem;
        top: 20%;

        .rounded-object {
          position: absolute;
          left: 75%;
          top: -20%;
          //   background-color: $primaryPurplelight;
          z-index: -2;
        }
      }
    }
  }

  //skills style
  .skills {
    background: #fcfcfc;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5rem 7rem 5rem 7rem;

    @media (max-width: 1032px) {
      padding: 0rem 2rem 2rem 2rem;
    }

    h2 {
      font-family: "Girlroybold";
      color: $gray;
      text-align: center;
      font-size: 16px;
      margin-bottom: 2.5rem;
    }

    .skills-images {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      i {
        color: $gray;
        font-size: 3.5rem;
        margin: 2rem;

        @media (max-width: 450px) {
          font-size: 3rem;
          margin: 1rem;
        }
      }
    }
  }

  //services section
  .services {
    padding: 2rem 5rem 5rem 5rem;
    background: #fcfcfc;

    @media (max-width: 1032px) {
      padding: 0rem 2rem 2rem 2rem;
    }

    h3 {
      text-align: center;
      color: $primaryPurplelight;
      font-family: "Girlroybold";
      margin-top: 0;

      span {
        font-family: "Nunito";
        color: #ff0068;
        font-size: 14px;
        background: rgba(255, 0, 104, 0.1);
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
      }
    }

    .btn {
      background-color: white;
      border: 1px solid #cccccc;
      color: #696969;
      padding: 0.5rem;
      text-transform: lowercase;
    }

    .btn--block {
      display: block;
      width: 100%;
    }

    .cards {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .cards__item {
      display: -webkit-box;
      display: flex;
      padding: 1rem;

      @media (max-width: 640px) {
        padding: 0;
        margin-bottom: $medium;
      }

      &:hover {
        .card {
          background-color: $darkerPurple;

          .card__text {
            color: #fff;
          }

          .card__title {
            color: #fff;
          }
        }

        svg {
          path,
          line,
          rect,
          circle {
            stroke: #fff;
          }

          #Path_2 {
            fill: #e4d9f3;
          }
        }
      }
    }

    @media (min-width: 40rem) {
      .cards__item {
        width: 50%;
      }
    }

    @media (min-width: 56rem) {
      .cards__item {
        width: 25%;
      }
    }

    .card {
      background-color: white;
      border-radius: 0.5rem;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      overflow: hidden;

      svg {
        margin: 1rem;
      }

      .ratings {
        display: flex;
      }
    }

    .card:hover .card__image {
      -webkit-filter: contrast(100%);
      filter: contrast(100%);
    }

    .card__content {
      display: -webkit-box;
      display: flex;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding: 1rem;
    }

    .card__title {
      font-family: $fontPrimary;
      color: $darkerPurple;
      font-size: 1.25rem;
      font-weight: 300;
    }

    .card__text {
      font-family: $fontNunito;
      color: $darkerPurple;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      font-size: 0.83rem;
      line-height: 1.6;
      margin-bottom: 1rem;
    }
  }

  //portfolio section
  .portfolio {
    padding: 3rem 3rem 5rem 3rem;
    text-align: center;

    @media (max-width: 1032px) {
      padding: 0rem 2rem 2rem 2rem;
    }

    img {
      max-width: 100%;
    }

    h4 {
      font-family: $fontPrimary;
      color: $darkerPurple;
      margin-bottom: $small;
      margin-top: 0;
    }

    p {
      font-family: $fontNunito;
    }

    .project-card-container {
      display: flex;
      padding-bottom: $large;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .left-card {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 1rem;

        @media (max-width: 768px) {
          margin: 0;
          margin-bottom: $medium;
        }

        .card-item-one {
          background-image: url(/assets/images/easybank.png);
          background-position: center center;
          background-size: cover;
          max-width: 100%;
          height: 320px;
          margin: 1rem;
          margin-bottom: 1rem;
          border-radius: 10px;
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

          @media (max-width: 768px) {
            margin: 0;
            margin-bottom: $medium;
          }
        }

        .card-item-two {
          background-image: url(/assets/images/atpeacecentre.png);
          background-size: cover;
          background-position: center center;
          max-width: 100%;
          height: 420px;
          margin: 1rem;
          border-radius: 10px;
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

          @media (max-width: 768px) {
            margin: 0;
            margin-bottom: $medium;
          }
        }
      }

      .right-card {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 1rem;

        @media (max-width: 768px) {
          margin: 0;
          margin-bottom: $medium;
        }

        .card-item-one {
          background-image: url(/assets/images/northwind.png);
          background-size: cover;
          background-position: center center;
          max-width: 100%;
          height: 320px;
          order: 2;
          margin: 1rem;
          border-radius: 10px;
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

          @media (max-width: 768px) {
            margin: 0;
            margin-bottom: $medium;
          }
        }

        .card-item-two {
          background-image: url(/assets/images/shortme.png);
          background-size: cover;
          background-position: center center;
          max-width: 100%;
          height: 420px;

          order: 1;
          margin: 1rem;
          margin-bottom: 1rem;
          border-radius: 10px;
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

          @media (max-width: 768px) {
            margin: 0;
            margin-bottom: $medium;
          }
        }
      }

      .one-card-container {
        @media (max-width: 768px) {
          margin-bottom: $medium;
        }

        text-align: left;

        .card-info {
          margin-left: 20px;
          color: $gray;
          font-family: $fontNunito;

          h5 {
            font-family: $fontPrimary;
            font-size: 1.5rem;
            margin-top: $small;
            margin-bottom: 0.4rem;
            color: $primaryPurplelight;
          }

          p {
            margin-top: 0px;
          }

          .tags {
            font-family: $fontPrimary;
            font-weight: 300;
          }
        }

        .project-links {
          margin-top: 10px;

          a {
            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  ///lets create a project styles
  .lets-create {
    display: flex;
    height: auto;
    padding: 5rem 5rem 0rem 5rem;
    justify-content: space-between;

    @media (max-width: 1032px) {
      padding: 0rem 2rem 2rem 2rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .create-copy {
      display: flex;
      flex-direction: column;
      flex: 2;
      justify-content: center;

      h4 {
        font-family: $fontPrimary;
        color: $darkerPurple;
        margin-bottom: $small;
        width: 90%;
      }

      p {
        font-family: $fontNunito;
        color: $gray;
        width: 80%;

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      .name {
        color: #000;
        margin-bottom: $small;
      }

      .button-container {
        margin-top: $small;

        a {
          cursor: pointer;
          font-family: $fontNunito;
        }
      }
    }

    .portfolio-photo-section {
      justify-content: flex-start;

      flex: 2;

      img {
        max-width: 100%;
      }

      .portrait {
        transform: translateX(15%);
        max-width: 100%;

        @media (max-width: 768px) {
          transform: translateX(0);
        }
      }
    }
  }

  //testimonial section
  .testimonial {
    padding: 2rem 5rem 5rem 5rem;
    background: #fcfcfc;

    @media (max-width: 1032px) {
      padding: 2rem 2rem 2rem 2rem;
    }

    h3 {
      text-align: center;
      color: $primaryPurplelight;
      font-family: "Girlroybold";
      margin-top: 0;

      span {
        font-family: "Nunito";
        color: #3751ff;
        font-size: 14px;
        background: rgba(55, 81, 255, 0.1);
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
      }
    }

    .btn {
      background-color: white;
      border: 1px solid #cccccc;
      color: #696969;
      padding: 0.5rem;
      text-transform: lowercase;
    }

    .btn--block {
      display: block;
      width: 100%;
    }

    .cards {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .cards__item {
      display: -webkit-box;
      display: flex;
      padding-left: 0;
      letter-spacing: 0.3px;
      padding: 1rem;

      @media (max-width: 640px) {
        padding: 0;
        margin-bottom: $medium;
      }
    }

    @media (min-width: 40rem) {
      .cards__item {
        width: 50%;
      }
    }

    @media (min-width: 56rem) {
      .cards__item {
        width: 33%;
      }
    }

    .card {
      background-color: white;
      border-radius: 0.5rem;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      overflow: hidden;

      svg {
        margin: 1rem;
      }
    }

    .card:hover .card__image {
      -webkit-filter: contrast(100%);
      filter: contrast(100%);
    }

    .card__content {
      display: -webkit-box;
      display: flex;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding: 2rem;
      justify-content: space-around;
    }

    .card__title {
      display: flex;
      font-family: $fontPrimary;
      color: $darkerPurple;
      align-items: center;

      .testimonial-image {
        width: 60px;
        height: 60px;

        img {
          max-width: 100%;
        }
      }

      img {
        border-radius: 50%;
      }

      div {
        margin-left: $small;

        h4 {
          font-size: 1.1rem;
          margin: 0;
        }

        p {
          margin: 0px;
          font-size: 0.8rem;
          color: #000;
          font-family: $fontNunito;
        }
      }
    }

    .card__text {
      font-family: $fontNunito;
      color: $gray;
      -webkit-box-flex: 1;
      font-size: 1rem;
      margin-top: $medium;
    }
  }

  //contact
  .contact {
    display: flex;
    margin: 5rem 3rem 0 3rem;
    padding: 4rem;
    background: $darkerPurple;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h4 {
      font-family: $fontPrimary;
      color: #fff;
      margin: 0;
    }

    a {
      display: flex;
      padding: 15px 35px 15px 35px;
      background: #fff;
      color: $darkerPurple;
      font-family: $fontNunito;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

      @media (max-width: 820px) {
        margin-top: 30px;
      }

      svg {
        margin-right: 10px;
      }
    }
  }
}

footer {
  padding: 6rem;
  font-family: $fontNunito;

  @media (max-width: 1032px) {
    padding: 6rem 2rem 2rem 2rem;
  }

  .footer-section-top {
    display: flex;
    margin-bottom: $large;

    border-bottom: 1px solid #e1e1e1;
    flex-wrap: wrap;

    @media (max-width: 440px) {
      flex-direction: column;
    }

    .brand-left {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-family: $fontNunito;
        color: $gray;
      }
    }

    .footer-links-right {
      display: flex;
      margin-left: auto;
      flex: 3;
      justify-content: flex-end;
      flex-wrap: wrap;

      @media (max-width: 440px) {
        justify-content: flex-start;
        margin-left: 0;

        ul {
          padding-left: 0;
        }
      }

      .footer-links {
        margin-right: $large;

        a {
          text-decoration: none;
          color: #000;
        }

        li {
          margin-bottom: 10px;

          &:nth-child(1) {
            font-family: $fontPrimary;
            color: $darkerPurple;
          }
        }

        .social {
          display: flex;
          justify-content: space-around;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid $primaryPurplelight;

          svg {
            stroke: $darkerPurple !important;
          }
        }
      }
    }
  }

  p {
    color: $gray;
  }
}

//animation
@keyframes HeroH1Animation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes HeroH2Animation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

///projects page

$veryLightGray: hsl(0, 0%, 98%);
$LightGrayishBlue: hsl(220, 16%, 96%);

$fontFam: "Open Sans";
$bodyCopy: 18px;

$breakpoint-tablet: 640px;
.main-container {
  h1 {
    color: #aaa9a9;
    font-size: $large;
    text-align: center;
    font-family: $fontPrimary;
    span {
      color: rgb(89, 89, 89);
    }
  }

  h2 {
    font-size: $small;
    font-family: $fontNunito;
    text-align: center;
    color: #aaa9a9;
  }

  h3 {
    color: $darkerPurple;
    font-family: $fontPrimary;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .articles {
    padding: 50px 60px 100px 60px;
    margin: 0 auto;

    @media (max-width: $breakpoint-tablet) {
      h1 {
        text-align: center;
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .cards_item {
      display: flex;
      padding: 1rem;
      flex-direction: column;
      align-items: center;

      @media (max-width: $breakpoint-tablet) {
        padding: 0;
        margin-bottom: 40px;
      }

      &:hover {
        .card {
          transform: scale(1.04);
        }

        .article-caption {
          transform: scale(1.04);
        }
      }
    }

    @media (min-width: 40rem) {
      .cards_item {
        width: 50%;
      }
    }

    @media (min-width: 56rem) {
      .cards_item {
        width: 33.33%;
      }
    }

    .card {
      transition: all 1s ease-out;
      // background-color: $primaryWhite;
      z-index: 1;
    }

    .content-image {
      max-width: 100%;
      border-radius: 5px;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    }

    .article-caption {
      transition: all 1s ease-in-out;
      padding: 0.5rem 1.5rem;
      background-color: $veryLightGray;
      width: 105%;
      margin-top: -5%;
      z-index: 0;
      border-radius: 5px;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

      .project-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      a {
        color: $gray;
        font-size: 1rem;
        font-family: $fontPrimary;
      }

      p {
        color: $gray;
        font-family: $fontNunito;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    .articles {
      padding: 30px 30px;
    }
  }
}
