//nav bar styling

$primaryPurplelight: hsl(262, 47%, 55%);
$darkerPurple: hsl(262, 52%, 47%);
$gray: #828282;

$small: 1rem;
$medium: 2rem;
$large: 3rem;

$fontPrimary: "Girlroybold";
$fontNunito: "Nunito";

@font-face {
  font-display: swap;
  font-family: "Girlroybold";
  src: url("CustomFont.eot");
  src: url("/assets/images/fonts/gilroy-bold-webfont.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  src: url("CustomFont.eot");
  src: url("/assets/images/fonts/nunitosans-regular-webfont.woff")
    format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  transition: all 2s;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.link-item-button {
  padding: 10px 25px 10px 25px;
  color: #fff;
  border-radius: 5px;
  background: $darkerPurple;
  font-family: $fontNunito;
}

li {
  list-style: none;
}

.brand {
  display: flex;
  font-size: 2rem;
  color: $primaryPurplelight;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: "Girlroybold";

  span {
    margin-top: -10px;
    font-size: 1rem;
  }
}

h2,
h3,
h4 {
  font-size: $large;

  @media (max-width: 768px) {
    font-size: $medium;
  }
}

nav {
  display: flex;
  padding: 1rem 5rem 1rem 5rem;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1032px) {
    padding: 1rem 2rem 2rem 2rem;
  }

  #hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito";
    // padding-left: 0;
    flex-wrap: wrap;

    li {
      margin-right: 20px;
    }

    .link-item {
      a {
        color: $gray;
      }
    }
  }

  @media (max-width: 690px) {
    .nav-links {
      position: absolute;
      flex-direction: column;
      background: #d5c2ec;
      padding: 2.5rem;
      padding-left: 2rem;
      justify-content: flex-end;
      align-content: flex-end;
      right: 2rem;
      transform: translateY(-200%);
      top: $large;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      transition: cubic-bezier(1, 0, 0, 1) 1.2s;
      border-radius: 10px;
      z-index: 2000;

      .link-item {
        margin-bottom: 1rem;
        margin-right: 0;

        &:nth-last-child() a {
          color: $darkerPurple;
        }
      }

      .link-item- {
        margin-right: 0;
      }

      .link-item-button {
        display: block;
        margin-top: 0.6rem;
      }
    }

    .nav-active {
      transform: translateY(0%);
    }

    #hamburger {
      display: flex;
      position: absolute;
      right: 2rem;

      #hamburgerImage {
        filter: drop-shadow(0 20px 40px -14px rgba(0, 0, 0, 0.25));
      }
    }
  }
}

main {
  //hero section style
  .hero-section {
    display: flex;
    padding: 0rem 5rem 2rem 5rem;

    @media (max-width: 1032px) {
      padding: 0rem 2rem 2rem 2rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .hero-copy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Girlroybold";

      h1 {
        font-size: $small;
        color: $gray;
        margin-bottom: 0;
        opacity: 0;
        animation: HeroH1Animation;
        animation-duration: 2s;
        animation-fill-mode: forwards;
      }

      h2 {
        margin-top: 0;
        color: $primaryPurplelight;
        opacity: 0;
        animation: HeroH2Animation;
        animation-duration: 3s;
        animation-fill-mode: forwards;
      }

      .social-icons-top {
        display: flex;

        img {
          margin-right: 20px;
        }
      }
    }

    .hero-images {
      flex: 3;
      justify-content: flex-end;
      padding-top: $large;

      img {
        float: right;
        max-width: 100%;
      }

      .second-image-container {
        position: relative;
        min-width: 300px;
        height: 100%;
        left: -3rem;
        top: 20%;

        .rounded-object {
          position: absolute;
          left: 75%;
          top: -20%;
          //   background-color: $primaryPurplelight;
          z-index: -2;
        }
      }
    }
  }

  

///projects page

$veryLightGray: hsl(0, 0%, 98%);
$LightGrayishBlue: hsl(220, 16%, 96%);

$fontFam: "Open Sans";
$bodyCopy: 18px;

$breakpoint-tablet: 640px;

