@font-face {
  font-family: "Girlroybold";
  src: url("CustomFont.eot");
  src: url("/assets/images/fonts/gilroy-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  src: url("CustomFont.eot");
  src: url("/assets/images/fonts/nunitosans-regular-webfont.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-transition: all 2s;
  transition: all 2s;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.link-item-button {
  padding: 10px 25px 10px 25px;
  color: #fff;
  border-radius: 5px;
  background: #673ab6;
  font-family: "Nunito";
}

li {
  list-style: none;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  color: #7e56c2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Girlroybold";
}

.brand span {
  margin-top: -10px;
  font-size: 1rem;
}

h2,
h3,
h4 {
  font-size: 3rem;
}

@media (max-width: 768px) {
  h2,
  h3,
  h4 {
    font-size: 2rem;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 5rem 1rem 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1032px) {
  nav {
    padding: 1rem 2rem 2rem 2rem;
  }
}

nav #hamburger {
  display: none;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav-links li {
  margin-right: 20px;
}

nav .nav-links .link-item a {
  color: #828282;
}

@media (max-width: 690px) {
  nav .nav-links {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #d5c2ec;
    padding: 2.5rem;
    padding-left: 2rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    right: 2rem;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    top: 3rem;
    -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
            box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    -webkit-transition: cubic-bezier(1, 0, 0, 1) 1.2s;
    transition: cubic-bezier(1, 0, 0, 1) 1.2s;
    border-radius: 10px;
    z-index: 2000;
  }
  nav .nav-links .link-item {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  nav .nav-links .link-item:nth-last-child() a {
    color: #673ab6;
  }
  nav .nav-links .link-item- {
    margin-right: 0;
  }
  nav .nav-links .link-item-button {
    display: block;
    margin-top: 0.6rem;
  }
  nav .nav-active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  nav #hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 2rem;
  }
  nav #hamburger #hamburgerImage {
    -webkit-filter: drop-shadow(0 20px 40px -14px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0 20px 40px -14px rgba(0, 0, 0, 0.25));
  }
}

main .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 5rem 2rem 5rem;
}

@media (max-width: 1032px) {
  main .hero-section {
    padding: 0rem 2rem 2rem 2rem;
  }
}

@media (max-width: 768px) {
  main .hero-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .hero-section .hero-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Girlroybold";
}

main .hero-section .hero-copy h1 {
  font-size: 1rem;
  color: #828282;
  margin-bottom: 0;
}

main .hero-section .hero-copy h2 {
  margin-top: 0;
  color: #7e56c2;
}

main .hero-section .hero-copy .social-icons-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .hero-section .hero-copy .social-icons-top img {
  margin-right: 20px;
}

main .hero-section .hero-images {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 3rem;
}

main .hero-section .hero-images img {
  float: right;
  max-width: 100%;
}

main .hero-section .hero-images .second-image-container {
  position: relative;
  min-width: 300px;
  height: 100%;
  left: -3rem;
  top: 20%;
}

main .hero-section .hero-images .second-image-container .rounded-object {
  position: absolute;
  left: 75%;
  top: -20%;
  z-index: -2;
}

main .skills {
  background: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 7rem 5rem 7rem;
}

@media (max-width: 1032px) {
  main .skills {
    padding: 0rem 2rem 2rem 2rem;
  }
}

main .skills h2 {
  font-family: "Girlroybold";
  color: #828282;
  text-align: center;
  font-size: 16px;
  margin-bottom: 2.5rem;
}

main .skills .skills-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .skills .skills-images i {
  color: #828282;
  font-size: 3.5rem;
  margin: 2rem;
}

@media (max-width: 450px) {
  main .skills .skills-images i {
    font-size: 3rem;
    margin: 1rem;
  }
}

main .services {
  padding: 2rem 5rem 5rem 5rem;
  background: #fcfcfc;
}

@media (max-width: 1032px) {
  main .services {
    padding: 0rem 2rem 2rem 2rem;
  }
}

main .services h3 {
  text-align: center;
  color: #7e56c2;
  font-family: "Girlroybold";
  margin-top: 0;
}

main .services h3 span {
  font-family: "Nunito";
  color: #ff0068;
  font-size: 14px;
  background: rgba(255, 0, 104, 0.1);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

main .services .btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}

main .services .btn--block {
  display: block;
  width: 100%;
}

main .services .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

main .services .cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

@media (max-width: 640px) {
  main .services .cards__item {
    padding: 0;
    margin-bottom: 2rem;
  }
}

main .services .cards__item:hover .card {
  background-color: #673ab6;
}

main .services .cards__item:hover .card .card__text {
  color: #fff;
}

main .services .cards__item:hover .card .card__title {
  color: #fff;
}

main .services .cards__item:hover svg path,
main .services .cards__item:hover svg line,
main .services .cards__item:hover svg rect,
main .services .cards__item:hover svg circle {
  stroke: #fff;
}

main .services .cards__item:hover svg #Path_2 {
  fill: #e4d9f3;
}

@media (min-width: 40rem) {
  main .services .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  main .services .cards__item {
    width: 25%;
  }
}

main .services .card {
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden;
}

main .services .card svg {
  margin: 1rem;
}

main .services .card .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .services .card:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

main .services .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 1rem;
}

main .services .card__title {
  font-family: "Girlroybold";
  color: #673ab6;
  font-size: 1.25rem;
  font-weight: 300;
}

main .services .card__text {
  font-family: "Nunito";
  color: #673ab6;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  font-size: 0.83rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

main .portfolio {
  padding: 3rem 3rem 5rem 3rem;
  text-align: center;
}

@media (max-width: 1032px) {
  main .portfolio {
    padding: 0rem 2rem 2rem 2rem;
  }
}

main .portfolio img {
  max-width: 100%;
}

main .portfolio h4 {
  font-family: "Girlroybold";
  color: #673ab6;
  margin-bottom: 1rem;
  margin-top: 0;
}

main .portfolio p {
  font-family: "Nunito";
}

main .portfolio .project-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
}

@media (max-width: 768px) {
  main .portfolio .project-card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .portfolio .project-card-container .left-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
}

@media (max-width: 768px) {
  main .portfolio .project-card-container .left-card {
    margin: 0;
    margin-bottom: 2rem;
  }
}

main .portfolio .project-card-container .left-card .card-item-one {
  background-image: url(/assets/images/liferithms.png);
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: 320px;
  background-color: red;
  margin: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  main .portfolio .project-card-container .left-card .card-item-one {
    margin: 0;
    margin-bottom: 2rem;
  }
}

main .portfolio .project-card-container .left-card .card-item-two {
  background-image: url(/assets/images/atpeacecentre.png);
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  height: 420px;
  background-color: blue;
  margin: 1rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  main .portfolio .project-card-container .left-card .card-item-two {
    margin: 0;
    margin-bottom: 2rem;
  }
}

main .portfolio .project-card-container .right-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
}

@media (max-width: 768px) {
  main .portfolio .project-card-container .right-card {
    margin: 0;
    margin-bottom: 2rem;
  }
}

main .portfolio .project-card-container .right-card .card-item-one {
  background-image: url(/assets/images/northwind.png);
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  height: 320px;
  background-color: red;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 1rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  main .portfolio .project-card-container .right-card .card-item-one {
    margin: 0;
    margin-bottom: 2rem;
  }
}

main .portfolio .project-card-container .right-card .card-item-two {
  background-image: url(/assets/images/shortme.png);
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  height: 420px;
  background-color: blue;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  main .portfolio .project-card-container .right-card .card-item-two {
    margin: 0;
    margin-bottom: 2rem;
  }
}

main .lets-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 5rem 5rem 0rem 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1032px) {
  main .lets-create {
    padding: 0rem 2rem 2rem 2rem;
  }
}

@media (max-width: 768px) {
  main .lets-create {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .lets-create .create-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .lets-create .create-copy h4 {
  font-family: "Girlroybold";
  color: #673ab6;
  margin-bottom: 1rem;
  width: 90%;
}

main .lets-create .create-copy p {
  font-family: "Nunito";
  color: #828282;
  width: 80%;
}

@media (max-width: 768px) {
  main .lets-create .create-copy p {
    width: 100%;
  }
}

main .lets-create .create-copy .name {
  color: #000;
  margin-bottom: 1rem;
}

main .lets-create .create-copy .button-container {
  margin-top: 1rem;
}

main .lets-create .create-copy .button-container a {
  cursor: pointer;
  font-family: "Nunito";
}

main .lets-create .portfolio-photo-section {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

main .lets-create .portfolio-photo-section img {
  max-width: 100%;
}

main .lets-create .portfolio-photo-section .portrait {
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
  max-width: 100%;
}

@media (max-width: 768px) {
  main .lets-create .portfolio-photo-section .portrait {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

main .testimonial {
  padding: 2rem 5rem 5rem 5rem;
  background: #fcfcfc;
}

@media (max-width: 1032px) {
  main .testimonial {
    padding: 0rem 2rem 2rem 2rem;
  }
}

main .testimonial h3 {
  text-align: center;
  color: #7e56c2;
  font-family: "Girlroybold";
  margin-top: 0;
}

main .testimonial h3 span {
  font-family: "Nunito";
  color: #3751ff;
  font-size: 14px;
  background: rgba(55, 81, 255, 0.1);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

main .testimonial .btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}

main .testimonial .btn--block {
  display: block;
  width: 100%;
}

main .testimonial .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

main .testimonial .cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  letter-spacing: 0.3px;
  padding: 1rem;
}

@media (max-width: 640px) {
  main .testimonial .cards__item {
    padding: 0;
    margin-bottom: 2rem;
  }
}

@media (min-width: 40rem) {
  main .testimonial .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  main .testimonial .cards__item {
    width: 33%;
  }
}

main .testimonial .card {
  background-color: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden;
}

main .testimonial .card svg {
  margin: 1rem;
}

main .testimonial .card:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

main .testimonial .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .testimonial .card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Girlroybold";
  color: #673ab6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .testimonial .card__title .testimonial-image {
  width: 60px;
  height: 60px;
}

main .testimonial .card__title .testimonial-image img {
  max-width: 100%;
}

main .testimonial .card__title img {
  border-radius: 50%;
}

main .testimonial .card__title div {
  margin-left: 1rem;
}

main .testimonial .card__title div h4 {
  font-size: 1.1rem;
  margin: 0;
}

main .testimonial .card__title div p {
  margin: 0px;
  font-size: 0.8rem;
  color: #000;
  font-family: "Nunito";
}

main .testimonial .card__text {
  font-family: "Nunito";
  color: #828282;
  -webkit-box-flex: 1;
  font-size: 1rem;
  margin-top: 2rem;
}

main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem 3rem 0 3rem;
  padding: 4rem;
  background: #673ab6;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .contact h4 {
  font-family: "Girlroybold";
  color: #fff;
  margin: 0;
}

main .contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 35px 15px 35px;
  background: #fff;
  color: #673ab6;
  font-family: "Nunito";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

@media (max-width: 820px) {
  main .contact a {
    margin-top: 30px;
  }
}

main .contact a svg {
  margin-right: 10px;
}

main footer {
  padding: 6rem;
  font-family: "Nunito";
}

@media (max-width: 1032px) {
  main footer {
    padding: 6rem 2rem 2rem 2rem;
  }
}

main footer .footer-section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  border-bottom: 1px solid #e1e1e1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 440px) {
  main footer .footer-section-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main footer .footer-section-top .brand-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main footer .footer-section-top .brand-left p {
  font-family: "Nunito";
  color: #828282;
}

main footer .footer-section-top .footer-links-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 440px) {
  main footer .footer-section-top .footer-links-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
  }
  main footer .footer-section-top .footer-links-right ul {
    padding-left: 0;
  }
}

main footer .footer-section-top .footer-links-right .footer-links {
  margin-right: 3rem;
}

main footer .footer-section-top .footer-links-right .footer-links a {
  text-decoration: none;
  color: #000;
}

main footer .footer-section-top .footer-links-right .footer-links li {
  margin-bottom: 10px;
}

main footer .footer-section-top .footer-links-right .footer-links li:nth-child(1) {
  font-family: "Girlroybold";
  color: #673ab6;
}

main footer .footer-section-top .footer-links-right .footer-links .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #7e56c2;
}

main footer .footer-section-top .footer-links-right .footer-links .social svg {
  stroke: #673ab6 !important;
}

main footer p {
  color: #828282;
}
/*# sourceMappingURL=style.css.map */