@import '@scss/variables.scss';

//hero section style
.heroCopy {
  display: flex;
  padding: 5rem 5rem;
  max-width: 1200px;
  margin: auto;
  font-family: $fontPrimary;
  gap: 2rem;
  color: $primaryBlue;

  .heroSection {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 1032px) {
    padding: 0rem 2rem 2rem 2rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .imageContainer {
    position: relative;
    img {
      border-radius: 50%;
    }
  }

  .my_name {
    font-size: $large;
    font-weight: bold;
    line-height: 47.63px;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    animation: HeroH1Animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .duties {
    display: flex;
    align-items: center;
    font-family: $fontJura, sans-serif;
    line-height: 14px;
    font-weight: 400;
    flex-wrap: wrap;
    li {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      svg {
        margin: 0 0.5rem;
      }

      span {
        min-width: max-content;
      }
    }
  }

  .smaller {
    margin-top: 0;
    color: $primaryPurplelight;
    opacity: 0;
    animation: HeroH2Animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  .social_icons_top {
    display: flex;
    gap: 1rem;
    align-items: center;
    img {
      margin-right: 20px;
    }
  }
}

.hero_images {
  flex: 3;
  justify-content: flex-end;
  padding-top: $large;

  img {
    float: right;
    max-width: 100%;
  }

  .second_image_container {
    position: relative;
    min-width: 300px;
    height: 100%;
    left: -3rem;
    top: 20%;

    .rounded_object {
      position: absolute;
      left: 75%;
      top: -20%;
      //   background-color: $primaryPurplelight;
      z-index: -2;
    }
  }
}
