body,
html {
  background-color: #0d1117;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

* {
  box-sizing: border-box;
}

/* make container a flex container */
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2rem;
  min-height: 100vh;
  width: 100%;
}

.content__container {
  display: flex;
  flex-direction: column;
  width: 340px;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.github__header {
  font-size: 1.2rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

/* class to toggle for when there is an error loading current user */
.is__error {
  display: flex;
  width: 340px;
  flex-wrap: nowrap;
  justify-content: space-between;
  word-break: break-all;
  border: 1px solid #f8514966;
  color: #ff7b72;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-image: linear-gradient(#f851491a, #f851491a);
}

/* button to clear current error*/
.cancel__error {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main__container {
  width: 100%;
  background: #161c22;
  border-radius: 6px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.username_input {
  background-color: #0d1117;
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #20252d;
  margin-top: 0.3rem;
  margin-bottom: 1.2rem;
  border-radius: 6px;
}

.username_input:focus {
  outline: none;
  border: 1px solid #58a6ff;
  box-shadow: 0px 0px 2px 3px #0d2d6b;
}

.username_button {
  display: flex;
  justify-content: center;
  background: #34a042;
  border-radius: 6px;
  padding: 0.6rem;
  border: none;
  color: #fff;
}

/* loading styles */

/* class to add when we are loading a user */
.loading__indicator {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  margin-left: 10px;
  border-top: 2px solid #267530;
  background: transparent;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.username_button:disabled {
  background: #34a0426f;
  cursor: not-allowed;
}
